# FastAPI & Uvicorn
fastapi==0.95.2
uvicorn==0.22.0
python-multipart==0.0.6
requests

# LangChain chatbot stack
langchain
langchain-community
openai
PyPDF2
python-docx
docx2txt
pypdf
tiktoken
faiss-cpu

# MongoDB
motor==2.5.1
dnspython==2.4.2

# Auth
python-jose==3.3.0
cryptography

# Face recognition / CV
opencv-python==4.5.5.64
dlib==19.22.0
numpy>=1.24,<2.0
torch
torchvision
ultralytics
facenet-pytorch
